//issues:
// - can't get bold on hover

:root{
    // --red: #C60C30;
    // --gold: #9E7C0C;
    // --pink: #241773;
    --green: #93EF1B;
    --orange: rgb(218,146,85);
    --pink: #E6A8B8;
    --animation-speed: 1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--green);
}

a{
    text-decoration: none;
    color: var(--orange);
    text-transform: uppercase;
}

a:hover{
    color: #ffffff;
    text-transform: lowercase; 
    text-shadow: 2px 2px black; 
}

.menu-button{
    height: 25px;
    width: 35px;
    background-color: var(--orange);
    .bar{
        height: 8px;
        width: 100%;
        background-color: var(--pink);
        position: absolute;
        // &:nth-child(2){
        //     top: 50%;
        //     transform: translate(-50%);
        // }
        // &:nth-child(3){
        //     top:100%;
        //     transform: translateY(-100%);
        // }
    }
}

.links{
    height: 55px;
    background-color: var(--pink);
    box-shadow: 0 3px var(--orange);
    color: var(--orange);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .logo{
        font-size: 1.2em;
        font-weight: bold;
        color: var(--orange);
        text-decoration: none;
    }
}

